Flask
flask-cors
torch
torchvision
torchaudio
transformers
scikit-learn
sentence-transformers
langchain
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
python-dotenv
requests
mne
pyedflib
gunicorn
